<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo-box">
    <img src="../../assets/images/logo.jpg" alt="your-logo">
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row class="signin-row">
    <ion-list lines="full">
      <ion-item-group class="ion-margin-horizontal ion-margin-bottom">
        <form (ngSubmit)="register()">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" [(ngModel)]="user.name" name="name" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="user.email" name="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="user.password" name="password" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password Confirmation</ion-label>
            <ion-input type="password" [(ngModel)]="user.password_confirmation" name="password" required></ion-input>
          </ion-item>
          <br/>
          <ion-button expand="full" type="submit">Register</ion-button>

          <!-- create new account -->
          <p class="no-account">Allready have an account? <span routerLink="/login">Login</span></p>
        </form>
      </ion-item-group>
    </ion-list>
  </ion-row>
</ion-footer>

